rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    match /rooms/{room} {
      allow list: if request.auth.uid != null

      match /messages/{message} {
        allow create, list: if request.auth.uid != null
      }
    }
  }
}